.App {
  text-align: center;
  background-color: #ffc52c;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.Pokedex {
  border: 1px solid gray;
  background-color: #282c34;
  border-radius: 20px;
  max-width: 700px;
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.Pokemon {
  border: 1px solid #282c34;
  background-color: #ceecef;
  border-radius: 20px;
  display: flex;
  flex: 1 1 0;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  min-width: 250px;
}